<p>
    {{firstLine}}
</p>

{{#each paragraphsBeforeButton}}
<p>
    {{this}}
</p>
{{/each}}

<a class="cta" href="{{link}}">
    {{resetPasswordButtonLabel}}
</a>

{{#each paragraphsAfterButton}}
<p>
    {{this}}
</p>
{{/each}}